ffmpeg
fastapi
fastapi-socketio
uvicorn
fastapi
pyngrok
ffmpeg-python
nest-asyncio
python-dotenv
requests
beautifulsoup4
google-api-python-client
google-generativeai
pymongo
python-multipart
typing_extensions